{% extends 'inv_check/base.html' %}

{% block content %}

<div class="container">
    <div>
            <h2>Merch Details</h2>
            <p>To see available sizes, prices, and pictures, select an item below:</p>
                      
            <!--<h3> Select item: </h3>-->
         <div style="width: 100%; display: table;">   
            <div style="display: table-row">
                <div style="width: 30%; display: table-cell;"> 
                    <p><b>Filters</b></p>
                    
                    <form id="subset-item" role="search" method="get" action="">
                        <a>Category</a>
                         <select name="item-type" data-placeholder="Filter items" class="chosen-select" onChange="form.submit();" >
                            {% for itemtype in itemtypes %}
                                <option value="{{ itemtype }}"> {{ itemtype }} </option>
                            {% endfor %}
                        </select><br/>
                        <!--<label for="submit"></label><button id="submit" type="submit" class="btn btn-default">Submit</button>      -->         
                    </form>
                    <form id="subset-item" role="search" method="get" action="">
                        <a>Gender</a>
                         <select name="item-gender" data-placeholder="Filter gender" class="chosen-select" onChange="form.submit();">
                            {% for gender in itemgenders %}
                                <option value="{{ gender }}"> {{ gender }} </option>
                            {% endfor %}
                        </select><br/>
                        <!--<label for="submit"></label><button id="submit" type="submit" class="btn btn-default">Submit</button>  -->             
                    </form>
                </div>
             
            
            <div style="display: table-cell;">
                <p><b>Available items</b></p>
                <form id="select-item" role="search" method="get" action="">
                    
                    <select name="item-choice" data-placeholder="Select item" class="chosen-select" >
                        {% for item in items %}
                            <option value="{{ item.item }}"> {{ item.item }} </option>
                        {% endfor %}
                    </select><br/>
                    <label for="submit"></label><button id="submit" type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    
    
    <div style="margin-top: 20px">
        {% if addedtocart %}
            <p>Item added to cart</p>
        {% endif %}
        
        <img src="{{ img_url }}" alt="merch image"  style="width:70%;float:left;margin-right:5px"></img>
        
        <div style="float:left;width:200px">
        <table border="0" style="margin-left:5px" class='data.frame'> 
                {% for field in fields %}
                    <thead>
                           <th><center>{{ field.0 }}</center></th>  
                    </thead>
                    <tbody>
                        <tr style="text-align: left;">
                            <td>{{ field.1 }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
         </table>
       {% if fields %}
       <table style+"width:200px"> 
        <caption style="margin-top:10px;width:200px"><b>Add to cart</b></caption>
        <form method="post" >
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            {{ form.as_table }}
            <td><input type="submit" value="Add to cart"/></td>
        </form>
        </table>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}