{% extends 'inv_check/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
            <h2>Merch Details</h2>
            <p>To see available sizes, prices, and pictures, select an item below:</p>
                      
            <!--<h3> Select item: </h3>-->
         <div style="width: 100%; display: table;">   
            <div style="display: table-row">
                <div style="width: 20%; display: table-cell;"> 
                    <p><b>Filter by type:</b></p>
                    <form id="subset-item" role="search" method="get" action="">
                         <select name="item-type" data-placeholder="Filter items" class="chosen-select" >
                            {% for itemtype in itemtypes %}
                                <option value="{{ itemtype }}"> {{ itemtype }} </option>
                            {% endfor %}
                        </select><br/>
                        <label for="submit"></label><button id="submit" type="submit" class="btn btn-default">Submit</button>               
                    </form>
                </div>
            
            <div style="display: table-cell;">
                <p><b>Available items:</b></p>
                <form id="select-item" role="search" method="get" action="">
                    
                    <select name="item-choice" data-placeholder="Select item" class="chosen-select" >
                        {% for item in items %}
                            <option value="{{ item.item }}"> {{ item.item }} </option>
                        {% endfor %}
                    </select><br/>
                    <label for="submit"></label><button id="submit" type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    
    
    <figure  class="half" style="display:flex">
        <img src="{{ img_url }}" alt="merch image"  style="width:50%"></img>
    </figure>    
    <table width="80%" border="1" class='data.frame'>
        <thead>
        <tr style="text-align: right;">
        {% for header in fields.headers %}
            <th><center>{{ header }}</center></th>
        {% endfor %}
        </thead>
        <tbody>
        <tr> 
        {% for value in fields.rows %}
                <td>{{ value }}</td>
        {% endfor %}
        </tr> 
        </tbody>
    </table>

</div>


{% endblock %}