{% extends "inv_check/base.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'inv_check/style.css' %}">

{% block content %}
  <h1>Outstanding Orders</h1>
  <p> These are orders that have been placed but not yet marked completed. If completed(or addressed), please mark it complete.</p> 
  
    <div class="row">
        <div class="col-md-8">
            <h3>Select order id:</h3>
            <p>Careful: Selecting an order will mark order as complete and fill <b>Sale Form</b> below</p>
            <form id="select-order" method="get" action="">
                <select name="item-order" class="chosen-select">
                    {% for order in orders %}
                        <option value="{{ order.id }}"> {{ order.id }} </option>
                    {% endfor %}
                </select><br/>
                <label for="submit"></label><button id="submit" type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
  
  <div>
  <h3>Order Details</h3>
    <table width="70%" border="1">
        <thead>
        <tr style="text-align: right;">
        {% for header in fields.headers %}
            <th><center>{{ header }}</center></th>
        {% endfor %}
        </thead>
        <tbody>
        {% for valueList in fields.rows %}
            <tr>    
            {% for value in valueList %}
                <td>{{ value }}</td>
            {% endfor %}
            </tr>    
        {% endfor %}
        </tbody>
    </table>
    </div>
    
    <div>
        <h2>Sale Form</h2>
        <p>Please modify any fields if necessary, click submit to record sale and update inventory</p>
        <table>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_table }}
            
            <input type="submit" value="Submit" />
        </form>
        </table>
    </div>
    
    <div>
        <h2> Updated item Details </h2>
        <table width="80%" border="1" class='data.frame'>
            <thead>
            <tr style="text-align: right;">
            {% for header in fields2.headers %}
                <th><center>{{ header }}</center></th>
            {% endfor %}
            </thead>
            <tbody>
            <tr> 
            {% for value in fields2.rows %}
                    <td>{{ value }}</td>
            {% endfor %}
            </tr> 
            </tbody>
        </table>
    </div>
{% endblock %}