.sidenav {
			height:100%;
            width=20%
            top:0;
			left:0;
			position: fixed;
			background-color:#FFCC00;
			padding-top:20px;
            font-weight: bold;
		}
 
.sidenav a {
			padding:6px 8px 6px 16px;
			text-decoration: none;
			font-size:16px;
			color: #990000;
			display:block;
		}

#sidebarimg img {
          border-radius: 0px;
          padding:0px;
          margin:0px;
          width: 200px;
        }

table {
  border: 0px solid black;
  border-collapse: collapse;
}        
th, td {
  border-bottom: 1px solid #ddd;
  border-color: #EAEAEA
}        
tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color: #f2f2f2;}
th {
  background-color: #990000;
  color: white;
}        
        
.main {
  margin-left: 20%; /* Same as the width of the sidebar */
  padding: 0px 10px;
}        
body {
  background-color: #FFFFFF;
  font-family: sans-serif;
  padding: 0px;
}

h1,  h2, h3 {
    color: #990000;
}

.post-form textarea, .post-form input {
    width: 100%;
}